fastapi
uvicorn
spacy
numpy
pydantic
scipy
boto3
psycopg2-binary
python-multipart
langchain
langchain-community
langchain-openai
openai
duckduckgo-search
deepface
faiss-cpu
tqdm
tf-keras
google-api-python-client
langgraph
